{% extends "doubtsBlog/base.html" %}
{% block content %}
	
	<div class="container overflow-hidden">
	  <div class="row gy-3">
	    <div class="col-12">
      	  <div class="card text-white bg-dark mb-3">
		    <div class="card-body">
		      <h5 class="card-title">{{ object.title }}</h5>
		      <p class="card-text">{{ object.content|slice:":60"|add:" ..." }}</p>
		      <p></p>
	      	  {% if object.image %}
			    <img src="{{ doubt.image.url }}" style="max-height:450px;" class="img-thumbnail" alt="...">
		  	  {% endif %}
		  	  <p></p>
		      <figure class="text-end">  
		      	<small>_{{ object.author }} on {{ object.date_posted }} </small>
			  </figure>
			  {% if object.author == user %}
			  	<a class="btn btn-danger" href="{% url 'doubt-delete' object.id %}">Delete</a>
			  {% else %}
			  <a class="btn btn-success" href="{% url 'answer-create' object.id %}">Answer This</a>
			  {% endif %}
		    </div>
		  </div>
	    </div>
	  </div>
	</div>
	{% for answer in answer_list %}
		<div class="list-group">
			<div class="container overflow-hidden">
			  <div class="row gy-3">
			    <div class="col-12">
		      	  <div class="card text-white bg-danger mb-3">
				    <div class="card-body">
				      <h6 class="card-title">Answered by {{ answer.author }}</h6>
				      <p class="card-text">{{ answer.content }}</p>
				      <p></p>
				      {% if answer.image %}
					    <img src="{{ answer.image.url }}" style="max-height:450px;" class="img-thumbnail" alt="...">
				  	  {% endif %}
				      <p></p>
				      <figure class="text-end">  
				      	<small>Total Votes : {{ answer.votes }} </small>
					  </figure>
					  {% if answer.author == user %}
					  	<a class="btn btn-info" href="{% url 'answer-delete' answer.id %}">Delete</a>
					  {% else %}
					  	<a class="btn btn-info" href="{% url 'answer-vote' answer.id %}">Upvote</a>
					  {% endif %}
					  
				    </div>
				  </div>
			    </div>
			  </div>
			</div>
		</div>
	{% endfor %}
	
{% endblock content %}